
<div id="imgur" ng-controller="ImgurCtrl as imgur" class="row">
  <div class="col-xs-12 col-sm-6">
    <form role="form" name="imageForm" ng-submit="imgur.upload()">
      <div class="form-group">
        <label for="image_title">Title</label>
        <input id="image_file" type="text" ng-model="newImg.title" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="image_description">Description</label>
        <textarea id="image_description" ng-model="newImg.description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="image_file">Image File</label>
        <input id="image_file" type="file" ng-model="newImg.image" required="required"/>
      </div>
      <button type="submit" class="btn btn-default pull-right">Submit</button>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail"><img ng-hide="image" src="http://placekitten.com/320/240"/><img ng-show="image" ng-src="{{ image.link }}"/>
      <div ng-show="image" class="caption">
        <h3 ng-bind="image.title"></h3>
        <p ng-bind="image.description"></p>
        <p>
          <button ng-click="imgur.delete()" class="btn btn-primary">Delete Image</button>
        </p>
      </div>
    </div>
  </div>
</div>