doctype html
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title ng-form-data
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://ng-form-data.tomchentw.com")
    meta(property="og:title" content="AngularJS upload module")
    meta(property="og:description" content="Seamless Integration of input[type=\"file\"] using HTML5 FormData")
    link(rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/default.min.css")
    link(rel="stylesheet" href="/application.css")
    script(type="text/javascript" defer src="/application.js")
  body
    include partials/header

    div.container-fluid(role="main")
      header.page-header
        h1
          | AngularJS upload module
          br
          small Seamless Integration of input[type="file"] using HTML5 FormData

      section
        include partials/imgur
      section(ng-non-bindable)
        .row
          .col-xs-12.col-md-6
            pre
              code.language-html
                != highlight('tmp/.html-cache/partials/imgur.html')

          .col-xs-12.col-md-6
            pre
              code.language-javascript
                != highlight('tmp/.js-cache/partials/ctrls.js')

    include partials/footer
